.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
  padding: 0.6em 0.8em;
}
/* 教学用：高对比表格斑马线 */
.md-typeset table:not([class]) tbody tr:nth-child(odd) {
  background-color: #f2f6fc;   /* 明显浅蓝 */
}

.md-typeset table:not([class]) tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* 表头更醒目 */
.md-typeset table:not([class]) thead th {
  background-color: #dbe7f7;
  font-weight: 600;
}
